# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# instance data, databases
# WHY TF are we ignoring the databases??? Thats supposed to be shared information! WTF is this class FR????
# volumes/sqlite.db
# instance/volumes/sqlite.db
